<div class="spacer"></div>

<div class="container">
  <div class="card">
    <h2><%= @flat.name %></h2>
    <h3><%= @flat.address %></h3>
    <p><%= @flat.description %></p>
    <p>$<%= @flat.price_per_night %>/per night</p>
    <p><%= @flat.number_of_guests %> guests total</p>
  </div>
</div>

<%# link_to "Add Review", new_flat_review_path(@flat), class: "btn btn-primary m-3" %>
